/*
  Global styles that apply to both Vue components and Foundry's UI.
  It is usually incorrect to put styles here; most can be more locally scoped.
  This will override (and likely break!) Foundry's UI if not used carefully.
*/

.vue-app {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.vue-app > .root {
  position: absolute;
  inset: 15px;
  box-sizing: border-box;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
}
